# Java
*.class

# Package Files
*.jar

# Maven
target/
*.log

# NetBeans
build/
nb-configuration.xml

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
*.bak

# JRebel
nb_jr_remoting.cfg
rebel-remote.xml
rebel.xml

# OS X
.DS_Store

# Windows
*.bat

# Semantic Authorization
CM-INFERRED.json

.project
.settings/
annotation-interpreter/.classpath
annotation-interpreter/.project
annotation-interpreter/.settings/
annotation-libs/.classpath
annotation-libs/.project
annotation-libs/.settings/
api/.classpath
api/.project
api/.settings/
app/.classpath
app/.project
app/.settings/
database-proxy/.classpath
database-proxy/.project
database-proxy/.settings/
handlers/.project
handlers/.settings/
handlers/handler-blacklisting/.classpath
handlers/handler-blacklisting/.project
handlers/handler-blacklisting/.settings/
handlers/handler-devicetype/.classpath
handlers/handler-devicetype/.project
handlers/handler-devicetype/.settings/
handlers/handler-location/.classpath
handlers/handler-location/.project
handlers/handler-location/.settings/
handlers/handler-vhost/.classpath
handlers/handler-vhost/.project
handlers/handler-vhost/.settings/
handlers/handlermanager/.classpath
handlers/handlermanager/.project
handlers/handlermanager/.settings/
jpa/.classpath
jpa/.project
jpa/.settings/
jpatests/.classpath
jpatests/.project
jpatests/.settings/
key-management/.classpath
key-management/.project
key-management/.settings/
paasword-library/.classpath
paasword-library/.project
paasword-library/.settings/
repository/.classpath
repository/.project
repository/.settings/
resource-adapters/.project
resource-adapters/.settings/
resource-adapters/adapter-amazon/.classpath
resource-adapters/adapter-amazon/.project
resource-adapters/adapter-amazon/.settings/
resource-adapters/adapter-azure/.classpath
resource-adapters/adapter-azure/.project
resource-adapters/adapter-azure/.settings/
resource-adapters/adapter-bluemix/.classpath
resource-adapters/adapter-bluemix/.project
resource-adapters/adapter-bluemix/.settings/
resource-adapters/adapter-cloudfoundry/.classpath
resource-adapters/adapter-cloudfoundry/.project
resource-adapters/adapter-cloudfoundry/.settings/
resource-adapters/adapter-heroku/.classpath
resource-adapters/adapter-heroku/.project
resource-adapters/adapter-heroku/.settings/
resource-adapters/adapter-openshift/.classpath
resource-adapters/adapter-openshift/.project
resource-adapters/adapter-openshift/.settings/
resource-adapters/adapter-openstack/.classpath
resource-adapters/adapter-openstack/.project
resource-adapters/adapter-openstack/.settings/
resource-adapters/adapter-slipstream/.classpath
resource-adapters/adapter-slipstream/.project
resource-adapters/adapter-slipstream/.settings/
rest-api/.classpath
rest-api/.project
rest-api/.settings/
rest-transfer/.classpath
rest-transfer/.project
rest-transfer/.settings/
spi/.classpath
spi/.project
spi/.settings/
triplestore-api/.classpath
triplestore-api/.project
triplestore-api/.settings/
util/.classpath
util/.project
util/.settings/
validator/.classpath
validator/.project
validator/.settings/
